
<div class="center banner">
  <h1>Welcome to learnHELP</h1>
  <p>A place for the blind to collectively learn from the pain and eureka moments of others.</p>
  <h2><%= link_to('Log in with Facebook!', '/auth/facebook') %></h2>
    <h2><%= link_to('Log in with github!', '/auth/github') %></h2>
    <a class="fab fa-facebook"></a>
<a class="fab fa-github-square"></a>
</div>

