/* universal */
@import "font-awesome-sprockets";
@import "font-awesome";

$primary:#000505;
$secondary:rgba(1,50,64, 0.9);
$tertiary: #e0e0e0;
$action: #00b3e6;
$neutral-medium: #9d9d9d;

/* universal */

body {
  background-color: $primary;
  color: $tertiary;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $tertiary;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* navbar */
div.navigation {
  height: 55px;
  background-color: $secondary;
  a#logo {
    display: inline-block;
  }
  div.content-links{
    position: relative;
    float: left;
  }
  div.user-links {
    position: relative;
    float: right;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $neutral-medium;
  color: $neutral-medium;
  a {
    color: $neutral-medium;
    &:hover {
      color: $action;
    }
  }
  small {
    float: left;
  }
  nav.mini-nav {
    width: 100%;
  ul {
    margin-right: 15px;
    list-style: none;
    
    li {
      float: right;
      margin-right: 15px;
    }
  }
}
}

/*User Profile*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  color: $tertiary;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

form {
  border: 3px solid $neutral-medium;
  padding: 2rem;
  border-radius: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  
  .form-control {
    background-color: $secondary;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* microposts */

.tips {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    span {
      display: block;
    }
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
 
 
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}