<footer class="footer">
  <small>
    <a href='<%= root_path%>'> learnHELP</a>
    by Jeremy Emata</a>
  </small>
  <nav>
    <ul>
      <li>By a Flatiron student to help ease the pain of learning something new.</li>
    </ul>
  </nav>
     
  
</footer>