<footer class="navbar fixed-bottom">
  <small>
    <a href='<%= root_path%>'> learnHELP</a>
    by Jeremy Emata</a>
    <p>By a Flatiron student to help others who have committed to learning how to code.  This page has not been endorsed by the Flatiron school(yet).</p>
  </small>
  <nav>
    <ul>
      
    </ul>
  </nav>
     
  
</footer>