<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="/">//learnHELP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/units">Units</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/code_of_conduct">Code of Conduct</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <% if logged_in? %>
    <div class="btn-group">
      <button type="button" class="far fa-user-circle dark"></button>
      <button type="button" class=" dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class='dropdown-item'><%= link_to "Profile", user_path(current_user) %></li>
        <li class='dropdown-item'><%= link_to "Settings", edit_user_path(current_user) %></li>
        <div class="dropdown-divider"></div>
        <li class='dropdown-item'><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
    </div>
      <% else %>
        <a href="/login" class="fas fa-sign-in-alt mr-sm-2"></a>
        <a href="/signup" class="fas fa-user-plus mr-sm-2"></a>
      <% end %>
    </form>
  </div>
</nav>
