<header class="navbar fixed-top ">
  <div class="container">
    <%= link_to root_path, '#', id: "logo" %>
    <nav>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "Home",    root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Units",    '' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In",    '' %>
        </li>
      </ul>
    </nav>
  </div>
</header>