<div class='navigation'>
  <a href='/' id='logo'>
    <span id='slash'>//</span>
    <span id='learn'>learn</span>    <span id='help'>HELP</span>
  </a>
  <div class='content-links'>
    <a href='/topics' class='nav-left'>Topics</a>
  </div>
  <div class='user-links'>
    <a href='/login' class='nav-right'>Log in</a>
    <button href='/signup' class='nav-right'>Sign up</button>
  </div>
</div>